.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    min-width: 480px;
  }
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.section-description {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .current::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    left: 3px;
    bottom: -11px;
    position: absolute;
    background-color: #2196F3;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    bottom: -4px;
    position: absolute;
    background-color: #2196F3;
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .current::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    bottom: -4px;
    position: absolute;
    background-color: #2196F3;
    border-radius: 2px;
  }
  .section-description {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: inline-flex;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1,166px;
  letter-spacing: 0.03em;
  color: #2196F3;
  list-style: none;
  text-decoration: none;
}

.logo-name-part {
  color: #000000;
}

.logo-footer {
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 0;
    font-size: 26px;
    line-height: 1.192;
  }
}

.modal-button,
.modal-form-btn {
  display: inline-block;
  min-width: 200px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal-form-btn {
  align-self: center;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 31px;
  border: none;
}

@media screen and (min-width: 768px) {
  .modal-form-btn {
    align-self: center;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 40px;
    border: none;
  }
}

.backdrop {
  position: fixed;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 94px;
  padding-top: 93px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  padding: 40px;
  margin: 0;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  fill: #2196F3;
}

.svg-close-button {
  width: 11px;
  height: 11px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}

.modal-form-input:focus,
.modal-form-message:focus {
  padding: 12px 16px;
  outline: none;
  border: 1px solid #2196F3;
}

.modal-form-message:focus::placeholder {
  padding: 6px 8px;
}

.modal-form-message {
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  cursor: pointer;
}

.modal-name {
  width: 370px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-svg-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-form-svg-icon {
  fill: #2196F3;
}

.modal-form-input:focus {
  padding-left: 42px;
}

.modal-form-policy-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8.38px;
}

.modal-form-policy-label {
  font-size: 14px;
  line-height: 1.168;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-policy:checked + .modal-form-policy-label::before {
  background-color: #2196F3;
  background-image: url(../images/modal/Vector.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}

.modal-form-policy-link {
  color: #2196F3;
  text-decoration: underline;
}

.modal-form-message::placeholder {
  padding: 12px 16px;
}

@media screen and (min-width: 768px) {
  .backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    padding-left: 0;
    padding-right: 0;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    padding: 40px;
  }
  .modal-form-message {
    width: 448px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-name {
    width: 448px;
    height: 23px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.045;
  }
  .modal-form-policy-label {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-svg {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
  background-color: #2196F3;
  border-radius: 50%;
}

.social-list-link:hover .social-list-svg {
  fill: #FFFFFF;
}

.header {
  border: 1px solid #ECECEC;
  position: relative;
  background-color: #FFFFFF;
}

.header-email-link, .header-tel-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-email-link:hover, .header-email-link:focus, .header-tel-link:hover, .header-tel-link:focus {
  color: #2196F3;
}

.header-email-link:hover .contacts-icon-mail {
  fill: #2196F3;
}

.header-tel-link:hover .contacts-icon-tel {
  fill: #2196F3;
}

.nav-container {
  display: none;
}

.nav-container.is-open {
  z-index: 999;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 393px;
  min-width: 480px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.navigation > .logo {
  align-self: center;
}

.navigation-list-link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.navigation-list-item:last-child {
  margin-bottom: 60px;
}

.navigation-list-link.current {
  color: #2196F3;
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196F3;
}

.main {
  display: flex;
  align-items: center;
  height: 80px;
}

.btn-burger-menu {
  display: inline-flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: 0;
  margin-top: 10px;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #FFFFFF;
}

.btn-burger-menu .icon-close {
  display: none;
}

.btn-burger-menu.is-open .icon-close {
  display: block;
}

.btn-burger-menu.is-open .icon-menu {
  display: none;
}

.contacts-icon:not(:last-child) {
  margin-bottom: 16px;
}

.contacts-icon-mail {
  display: inline-flex;
  align-items: center;
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon-tel {
  display: inline-flex;
  align-items: center;
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item > .header-email-link {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .header {
    border: 1px solid #ECECEC;
  }
  .header-email-link, .header-tel-link {
    font-size: 12px;
    line-height: 1.167;
    display: flex;
    margin-right: 0;
  }
  .header-email-link {
    margin-bottom: 10px;
  }
  .btn-burger-menu {
    display: none;
  }
  .btn-burger-menu.is-open {
    display: none;
  }
  .navigation-list {
    display: flex;
    align-items: center;
    margin-right: 84px;
  }
  .navigation {
    display: flex;
  }
  .navigation-list-link {
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 28px;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .navigation-list-item:last-child {
    margin-bottom: 0px;
  }
  .contacts-icon:not(:last-child) {
    margin-bottom: 0;
  }
  .nav-container {
    position: static;
    display: flex;
    justify-content: space-between;
  }
  .nav-container.is-open {
    display: flex;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    min-width: 0;
    text-align: start;
    background: #FFFFFF;
    box-shadow: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-email-link, .header-tel-link {
    display: flex;
    font-size: 14px;
    line-height: 1.143;
  }
  .header-email-link {
    margin-bottom: 0;
  }
  .main {
    justify-content: space-between;
  }
  .contacts {
    display: flex;
  }
  .contacts-icon:not(:last-child) {
    margin-right: 30px;
  }
  .contacts-icon-mail {
    display: flex;
  }
  .contacts-icon-tel {
    display: flex;
  }
  .navigation-list {
    margin-right: 305px;
  }
}

.order-servise {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.description {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.background {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .background {
    height: 600px;
  }
  .order-servise {
    padding-top: 200px;
    padding-bottom: 210px;
  }
  .description {
    font-size: 44px;
    line-height: 1.364;
  }
  .background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desctop.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desctop@2x.jpg);
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages-item::before {
  padding-right: 100px;
  margin-bottom: 30px;
  display: block;
  content: "";
  height: 120px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
}

.advantages-description {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages-item:not(:last-child) {
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/advantages/antenna.png);
}

.icon-clock::before {
  background-image: url(../images/advantages/clock.png);
}

.icon-diagram::before {
  background-image: url(../images/advantages/diagram.png);
}

.icon-astronaut::before {
  background-image: url(../images/advantages/astronaut.png);
}

@media screen and (min-width: 480px) {
  .advantages-list {
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .advantages-description {
    text-align: start;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantages-item {
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 0px;
  }
  .advantages-text {
    margin-bottom: 0;
  }
  .advantages-item:not(:last-child) {
    margin-right: 30px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .advantages-description {
    text-align: start;
  }
}

.work-description {
  padding-top: 60px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .work-description {
    padding-top: 94px;
    display: block;
    padding-bottom: 94px;
  }
  .work-description-list {
    display: flex;
    justify-content: space-between;
  }
  .work-decription-item {
    position: relative;
  }
  .work-description-text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
  }
  .text-description {
    padding: 27px 52px;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.our-team {
  padding-top: 60px;
  width: 100%;
  display: block;
}

.employee-photo {
  display: block;
  margin: 0 auto;
}

.our-team {
  background-color: #F5F4FA;
}

.team-item:nth-child(n + 1) {
  padding-bottom: 30px;
}

.team-item:nth-child(n + 3) {
  padding-bottom: 60px;
}

.team-content {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee-name {
  display: block;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.employee-position {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

.employee-name,
.employee-position {
  background-color: #FFFFFF;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .employee-photo {
    width: 100%;
  }
  .team-list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-item {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients-list-link {
  display: flex;
  width: 210px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover {
  border-color: #2196F3;
}

.clients-list-svg {
  width: 100%;
  height: 100%;
  padding: 23px 40px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-svg:hover {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
    margin-right: 0;
  }
  .clients-list-item:nth-child(3) {
    margin-right: 0;
  }
  .clients-list-item:nth-child(6) {
    margin-right: 0;
  }
  .clients-list-item:nth-child(n + 4) {
    margin-bottom: 0;
  }
  .clients-list-link {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-list {
    flex-wrap: nowrap;
  }
  .clients-list-link {
    width: 170px;
    height: 90px;
    justify-content: center;
    align-items: center;
  }
  .clients-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .clients-list-item {
    width: calc((100%-150px)/6);
    margin-bottom: 0;
  }
}

.address-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 70px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  color: #FFFFFF;
}

.address-street {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.address-section {
  margin-right: 0;
}

.page-footer {
  text-align: center;
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .logo {
  display: block;
  margin-right: 0;
}

.address-street {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
}

.footer-email-link,
.footer-tel-link {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-link:hover,
.footer-email-link:focus,
.footer-tel-link:hover,
.footer-tel-link:focus {
  color: #2196F3;
}

.footer-email-link {
  margin-bottom: 8px;
}

.join {
  margin-top: 60px;
  margin-bottom: 60px;
}

.join-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-social-list-svg {
  fill: #FFFFFF;
}

.footer-social-list-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover {
  background-color: #2196F3;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-submit-link {
  margin-top: 20px;
  justify-content: center;
}

.footer-submit-link .modal-button {
  margin-top: 8px;
  margin-right: 0;
  text-align: center;
}

.footer-submit-button {
  height: 50px;
  width: 200px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-submit-input::placeholder {
  padding-top: 15px;
  padding-left: 16px;
}

.footer-submit-input {
  width: 100%;
  height: 50px;
  margin-right: 12px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-submit-input:focus {
  padding: 16px;
  color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 768px) {
  .footer-tablet-flex {
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .address-section {
    display: flex;
  }
  .contacts-item {
    display: flex;
    flex-direction: column;
  }
  .join {
    margin-top: 0;
    margin-bottom: 0;
  }
  .join-text {
    text-align: center;
  }
  .footer-submit {
    margin-left: 150px;
    margin-right: 140px;
  }
  .footer-submit-input {
    margin-right: 0;
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer .logo {
    text-align: start;
  }
  .page-footer .container {
    display: flex;
    justify-content: space-between;
  }
  .address-section {
    flex-direction: column;
    justify-content: space-around;
    margin-right: 70px;
  }
  .join {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
  }
  .join-text {
    text-align: start;
  }
  .submit {
    display: block;
    margin-bottom: 20px;
  }
  .footer-social-list {
    justify-content: space-between;
  }
  .footer-social-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-submit {
    margin-right: 0;
    margin-left: 93px;
  }
  .footer-submit-link {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: start;
  }
  .footer-submit-link .modal-button {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-submit-input {
    margin-right: 12px;
  }
  .footer-email-link,
  .footer-tel-link {
    display: flex;
    text-align: start;
  }
  .footer-tablet-flex {
    justify-content: space-between;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */