.address-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 70px;
    }

.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    color: $white-text-color;
    }

.address-street {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    }